/* Sidebar açılır-kapanır butonu */
.sidebar-toggle {
    position: fixed;
    top: 20px;
    right: 20px; /* Sağ üst köşeye yerleştirin */
    z-index: 2;
    cursor: pointer;
    padding: 10px;
    background-color: #3f186cfd;
    color: white;
    border: none;
    transition: right 0.5s; /* Sağdan açılma animasyonu */
}

/* #map stil tanımları */
#map {
    height: 100vh;
    width: 100%; /* Bütün ekranı kapla */
    margin-left: 0; /* Sol margine ihtiyaç yok */
}

/* İçeriği sidebar'ın açılmasıyla sağa kaydır */
.content.active {
    margin-left: 250px; /* Sidebar genişliği kadar sola kaydır */
}


/* Sidebar CSS */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; /* Sol kenara yerleştirin */
    background-color: #3f186cfd;
    overflow-x: hidden;
    padding-top: 60px;
    transition: left 0.5s;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #531e84; /* Hover durumunda arka plan rengi */
}

/* Başlık Stili (Hacettepe Üniversitesi) */
.sidebar a:first-child {
    font-size: 28px; /* Başlık yazı boyutu */
    font-weight: bold; /* Kalın yazı */
    margin-bottom: 20px; /* Başlık altındaki boşluk */
}

/* Diğer Bağlantıların Stili (İşletmeler ve Yorum) */
.sidebar a:nth-child(2),
.sidebar a:nth-child(3) {
    padding: 12px 15px; /* İç boşluk */
    font-size: 22px; /* Yazı boyutu */
    font-weight: normal; /* Normal yazı kalınlığı */
}

/* İçerik stil tanımları */
.content {
    transition: margin-left 0.5s; /* Animasyon süresi */
}

/* #map stil tanımları */
#map {
    height: 100vh;
    width: calc(100% - 250px); /* Sidebar genişliği çıkarıldıktan sonra kalan genişlik */
    margin-left: 250px; /* Sidebar genişliğini kompanse etmek için sol margine eklenir */
}

/* İçeriği sidebar'ın açılmasıyla sağa kaydır */
.content.active {
    margin-left: 250px; /* Sidebar genişliği kadar sola kaydır */
}

/* Sidebar açıldığında butonun konumunu ayarla */
.sidebar-toggle.active {
    left: 0;
}