/* Sidebar açılır-kapanır butonu */
.sidebar-toggle {
    position: fixed;
    top: 20px;
    left: 0; /* Başlangıç konumu */
    z-index: 2;
    cursor: pointer;
    padding: 10px;
    background-color: #3f186cfd;
    color: white;
    border: none;
    transition: left 0.5s;
}

/* Sidebar CSS */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px; /* Gizli başlangıç konumu */
    background-color: #3f186cfd;
    overflow-x: hidden;
    padding-top: 60px;
    transition: left 0.5s;
}

.sidebar a {
    padding: 6px 8px 6px 16px; /* İç boşluk */
    text-decoration: none; /* Metin süslemesini kaldır */
    font-size: 25px; /* Yazı boyutu */
    color: white; /* Yazı rengi */
    display: block; /* Blok seviyesinde görüntüle */
}

/* İçerik stil tanımları */
.content {
    transition: margin-left 0.5s; /* Animasyon süresi */
}

/* #map stil tanımları */
#map {
    height: 100vh;
    width: calc(100% - 250px); /* Sidebar genişliği çıkarıldıktan sonra kalan genişlik */
    margin-left: 0; /* Sidebar genişliğini kompanse etmek için sol margine eklenir */
}

/* İçeriği sidebar'ın açılmasıyla sağa kaydır */
.content.active {
    margin-left: 250px; /* Sidebar genişliği kadar sola kaydır */
}

/* Sidebar açıldığında butonun konumunu ayarla */
.sidebar-toggle.active {
    left: 0;
}
