/* Sidebar açılır-kapanır butonu */
.sidebar-toggle {
    position: fixed;
    top: 20px;
    right: 20px; /* Sağ üst köşeye yerleştirin */
    z-index: 2;
    cursor: pointer;
    padding: 10px;
    background-color: #3f186cfd;
    color: white;
    border: none;
    transition: right 0.5s; /* Sağdan açılma animasyonu */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Yazı tipi ayarı */
}

/* #map stil tanımları */
#map {
    height: 100vh;
    width: 100%; /* Bütün ekranı kapla */
    margin-left: 0; /* Sol margine ihtiyaç yok */
}

/* İçeriği sidebar'ın açılmasıyla sağa kaydır */
.content.active {
    margin-left: 250px; /* Sidebar genişliği kadar sola kaydır */
}

/* Sidebar CSS */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; /* Sol kenara yerleştirin */
    background-color: #3f186cfd;
    overflow-x: hidden;
    transition: left 0.5s;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: background-color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Yazı tipi ayarı */
}

.sidebar a:hover {
    background-color: #531e84; /* Hover durumunda arka plan rengi */
}

/* Sidebar üst kısmı, logo ve başlık için stil */
.sidebar-top {
    text-align: center; /* Başlığı ortala */
    padding-top: 20px; /* Logoyu ve başlığı biraz daha yukarı al */
}

/* Üniversite logosu ve başlık */
.university-logo {
    width: 80%; /* Genişlik ayarı */
    height: auto; /* Yükseklik otomatik ayarlanacak */
    margin: 0 auto; /* Logoyu ortala */
    display: block;
}

.sidebar a:first-child {
    font-size: 28px; /* Başlık yazı boyutu */
    font-weight: bold; /* Kalın yazı */
    margin-bottom: 20px; /* Başlık altındaki boşluk */
}

/* İşletmeler ve Yorum bağlantılarının stili */
.sidebar a:nth-child(2),
.sidebar a:nth-child(3) {
    font-size: 22px;
    font-weight: bold;
}

/* Diğer bağlantıların Stili */
.sidebar a:not(:first-child) {
    padding: 12px 15px; /* İç boşluk */
    font-size: 20px; /* Yazı boyutu */
    font-weight: normal; /* Normal yazı kalınlığı */
}

/* İçerik stil tanımları */
.content {
    transition: margin-left 0.5s; /* Animasyon süresi */
}

/* #map stil tanımları */
#map {
    height: 100vh;
    width: calc(100% - 250px); /* Sidebar genişliği çıkarıldıktan sonra kalan genişlik */
    margin-left: 250px; /* Sidebar genişliğini kompanse etmek için sol margine eklenir */
}

/* Sidebar açıldığında butonun konumunu ayarla */
.sidebar-toggle.active {
    left: 0;
}

.popup-content {
    /* Popup içeriği için stiller */
    color: black; /* Örnek bir stil */
    /* Diğer stiller */
}

/* Özel marker stilleri (eğer kullanıyorsanız) */
.custom-marker {
    /* Özel marker stilleri */
}

.checkbox-container {
    padding: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cafes-list h3 {
    margin: 10px 0;
    color: white;
}

.cafes-list ul {
    list-style-type: none;
    padding: 0;
}

.cafes-list ul li {
    padding: 5px;
    margin-bottom: 5px;
}

.cafes-list ul li label {
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.cafes-list ul li input[type="checkbox"] {
    margin-right: 5px;
}

/* Cafe listesi için stiller */
.cafes-list {
    display: none; /* Başlangıçta gizli olacak */
}

/* İşletmeler butonuna tıklandığında listeyi göstermek/gizlemek için sınıf */
.show-cafes-list {
    display: block;
}
